# Dependency directory
node_modules/

# Documentation directory
docs/

# Source directory
# src/
examples/
views/

# Build directory
dist/examples/

# Sourcemap, log, packed files
# *.map
*.log
*.tgz
*.test.ts
*.test.d.ts
*.test.js
*.test.js.map

# Ignore files
.gitignore
.npmignore

# Build configuration files
.github/
tsconfig.json

# Editor configuration files
.vscode/
